.header {
  margin-left: 24px;

  .breadcrumbs {
    margin-top: 32px;
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 20px;
      margin-right: 4px;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .header-title {
    display: flex;
    align-items: center;
    margin-top: 8px;

    strong {
      margin-right: 8px;
    }

    ion-icon {
      font-size: 32px;
      margin-right: 16px;
    }
  }

  .header-toolbar {
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);

    ion-button {
      --background: #fff;
      --color: #000;
      font-size: 15px;
    }
  }
}

ion-segment {
  margin: 16px 0 0 0;
  text-align: center;
  display: block;

  ion-segment-button {
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    font-size: 17px;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid var(--contrast-color-step-4);
    }
  }
}

.body {
  padding: 24px;
}

