<!-- Header -->
<section class="header">
  <div class="breadcrumbs">
    <a href="javascript:void(0)" (click)="back()" analyticsClick eventName="cases-view: back">
      <ion-icon name="arrow-back-outline"></ion-icon>
      Back to Cases</a>
  </div>
  <h1 class="header-title">
    <ion-icon name="document-text-outline"></ion-icon>
    <strong>Case</strong>
    <span>C-1000</span>
  </h1>
  <!-- <div class="header-toolbar">
    <ion-button>
      <ion-icon name="pencil-outline" slot="start"></ion-icon>
      Edit Request
    </ion-button>
  </div> -->
</section>

<!-- Tabs -->
<ion-segment [(ngModel)]="activeSegment" mode="md">
  <ion-segment-button value="case">Case Info</ion-segment-button>
  <ion-segment-button value="error-report">Error Report</ion-segment-button>
  <ion-segment-button value="patient">Patient</ion-segment-button>
  <ion-segment-button value="hl7">HL7 Message</ion-segment-button>
</ion-segment>

<!-- Views -->
<section class="body">
  <ng-container *ngIf="activeSegment === 'case'">
    <bh-group-box>
      <bh-property-row>
        <bh-property-cell label="Updated by">
          Matthew Welsh<br>
          May 13, 2024 at 8:00 am
        </bh-property-cell>

        <bh-property-cell label="Created by">
          Matthew Welsh<br>
          May 12, 2024 at 11:00 am
        </bh-property-cell>
      </bh-property-row>

      <bh-property-row>
        <bh-property-cell label="Summary">
          Create Test Result 001032 - Glucose - 2345-7
        </bh-property-cell>
      </bh-property-row>

      <bh-property-row>
        <bh-property-cell label="Case Status">
          Open
        </bh-property-cell>
        <bh-property-cell label="ESI Location">
          BMP WEST SIDE ADULT
        </bh-property-cell>
        <bh-property-cell label="Patient">
          <a href="javascript:void(0)">SMITH, JOHN</a>
        </bh-property-cell>
      </bh-property-row>

      <bh-property-row>
        <bh-property-cell label="Type">
          Interface Exception
        </bh-property-cell>
        <bh-property-cell label="ESI Status">
          PROCESSED
        </bh-property-cell>
        <bh-property-cell label="Contributor System">
          LABCORP_AMB
        </bh-property-cell>
      </bh-property-row>
    </bh-group-box>

    <bh-group-box>
      <h3 class="margin-top-0">Issues</h3>
    </bh-group-box>

    <bh-group-box>
      <h3 class="margin-top-0">Notes</h3>
    </bh-group-box>
  </ng-container>

  <ng-container *ngIf="activeSegment === 'error-report'">
    <bh-group-box>

    </bh-group-box>
  </ng-container>

</section>
