:host {
  display: flex;
  margin-bottom: 24px;

  bh-property-cell {
    flex: 1 1 33%;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

}

@media (max-width: 430px) {
  :host {
    display: block;

    bh-property-cell {
      flex: none;
      margin-bottom: 24px;
    }
  }
}
