<ion-content>
  <bh-header></bh-header>
  <bh-body [padding]="true">
    <h1>{{ 'My Account' | translate }}</h1>
    <div class="user-icon-container">
      <bh-user-icon [userFullName]="authUser?.fullName" [userId]="authUser?.userId" size="large"></bh-user-icon>
    </div>
    <bh-group-box>
      <bh-property-row class="margin-bottom-0">
        <bh-property-cell label="Name">{{ authUser?.fullName }}</bh-property-cell>
        <bh-property-cell label="User ID">{{ authUser?.userId }}</bh-property-cell>
        <bh-property-cell class="margin-bottom-0" label="Role">{{ authUser?.role | formatRole | translate }}</bh-property-cell>
      </bh-property-row>
    </bh-group-box>
  </bh-body>
  <bh-footer></bh-footer>
</ion-content>
