<bh-logo></bh-logo>
<div class="nav">
  <ul class="desktop-only-flex">
    <li>
      <a
        routerLink="/tabs/cases"
        analyticsClick
        eventName="header-link-click"
        eventDetail="Interface Cases"
        [ngClass]="{ active: activePage === 'cases' }"
        >Interface Cases</a
      >
    </li>
    <li>
      <a
        routerLink="/tabs/requests-lis"
        analyticsClick
        eventName="header-link-click"
        eventDetail="LIS Requests"
        [ngClass]="{ active: activePage === 'requests-lis' }"
        >LIS Requests</a
      >
    </li>
    <li>
      <a
        routerLink="/tabs/requests-cis"
        routerDirection="root"
        analyticsClick
        eventName="header-link-click"
        eventDetail="CIS Requests"
        [ngClass]="{ active: activePage === 'requests-cis' }"
        >CIS Requests</a
      >
    </li>
    <li>
      <a
        routerLink="/tabs/manage"
        routerDirection="root"
        analyticsClick
        eventName="header-link-click"
        eventDetail="Manage"
        [ngClass]="{ active: activePage === 'manage' }"
        >Manage</a
      >
    </li>
  </ul>
</div>
<div class="charms">
  <bh-charm
    type="user"
    routerLink="/my-account"
    label="User Menu"
    eventName="header-charm"
    eventDetail="user"
  ></bh-charm>
  <bh-charm
    type="icon"
    routerLink="/help"
    ionIcon="help-circle-outline"
    label="Help"
    eventName="header-charm"
    eventDetail="help"
  >
  </bh-charm>
</div>
