<a
  href="javascript:void(0)"
  (click)="openTab('/cases')"
  analyticsClick
  eventName="header-logo-click"
  eventDetail="Home"
>
  <bh-logo></bh-logo>
</a>
<div class="nav">
  <ul class="desktop-only-flex">
    <li>
      <a
        href="javascript:void(0)"
        (click)="openTab('/tabs/cases')"
        analyticsClick
        eventName="header-link-click"
        eventDetail="Interface Cases"
        [ngClass]="{ active: activePage === 'cases' }"
        >Interface Cases</a
      >
    </li>
    <li>
      <a
        href="javascript:void(0)"
        (click)="openTab('/tabs/requests-lis')"
        analyticsClick
        eventName="header-link-click"
        eventDetail="LIS Requests"
        [ngClass]="{ active: activePage === 'requests-lis' }"
        >LIS Requests</a
      >
    </li>
    <li>
      <a
        (click)="openTab('/tabs/requests-cis')"
        analyticsClick
        eventName="header-link-click"
        eventDetail="CIS Requests"
        [ngClass]="{ active: activePage === 'requests-cis' }"
        >CIS Requests</a
      >
    </li>
    <li>
      <a
        routerLink="/tabs/manage"
        routerDirection="root"
        analyticsClick
        eventName="header-link-click"
        eventDetail="Manage"
        [ngClass]="{ active: activePage === 'manage' }"
        >Manage</a
      >
    </li>
  </ul>
</div>
<div class="charms">
  <bh-charm
    type="user"
    label="User Menu"
    eventName="header-charm"
    eventDetail="user"
    (click)="openUserMenu()"
  ></bh-charm>
  <bh-charm
    type="icon"
    routerLink="/help"
    ionIcon="help-circle-outline"
    label="Help"
    eventName="header-charm"
    eventDetail="help"
  >
  </bh-charm>
</div>
