.message {
  border-radius: 8px;
  padding: 16px;
  background: rgba(var(--ion-color-primary-rgb), 0.2);
  margin-bottom: 24px;

  &.success {
    background: rgba(var(--ion-color-success-rgb), 0.2);
  }

  &.warning {
    background: rgba(var(--ion-color-warning-rgb), 0.2);
  }

  &.danger {
    background: rgba(var(--ion-color-danger-rgb), 0.2);
  }

  .message-inner {
    display: flex;
    align-items: center;

    .m-icon {
      margin-right: 24px;

      ion-icon {
        font-size: 40px;
      }
    }

    .m-text {
      h6 {
        margin-top: 0;
        margin-bottom: 4px;
        font-weight: 600;
        text-transform: uppercase;
      }

      p {
        margin: 0;
      }
    }
  }
}
