:host {
  display: block;
  margin-bottom: 16px;
}

.input-wrapper {
  display: flex;
  position: relative;
  background: var(--background-color-step-1);

  &.radio-list-wrapper {
    padding: 24px 0;
    border: 1px solid var(--contrast-color-step-3);
    border-radius: 8px;

    &.no-border {
      border-color: transparent !important;
      padding: 0;
    }

    ion-radio-group {
      width: 100%;
    }
  }

  .input-label {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    top: -6px;
    left: 10px;
    padding: 0 8px;
    background: var(--ion-background-color);
    border-radius: 4px;
    color: var(--contrast-color-step-1);
    font-size: 13px;

    &.required-label {
      color: var(--ion-color-danger);
    }
  }

  .reveal-password-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer;

    ion-icon {
      color: var(--contrast-color-step-1);
      opacity: .5;
    }
  }
}

textarea {
  min-height: 120px;
}

input,
textarea {
  background: transparent;
  border: 1px solid var(--contrast-color-step-3);
  padding: 14px 12px 12px 12px;
  border-radius: 8px;
  flex: 1 1 auto;
  font-size: 17px;
  outline: none;
  min-width: 300px;

  &.ng-invalid:not(.ng-untouched) {
    border-color: var(--ion-color-danger);
  }

  &:focus {
    border-color: var(--ion-color-primary);
  }

  &:read-only {
    background: var(--contrast-color-step-4);
  }


  &.small {
    max-width: 200px;
  }

  &.medium {
    max-width: 400px
  }

  &.full {
    max-width: unset;
  }
}

.required-marker {
  background: var(--ion-background-color);
  color: var(--ion-color-danger);
  font-size: 20px;
  line-height: 20px;
  margin-left: 8px;
  padding: 0 8px;
  position: absolute;
  height: 17px;
  width: 14px;
  top: 0;
  right: -12px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

select {
  background: transparent;
  border: 1px solid var(--contrast-color-step-3);
  padding: 14px 40px 12px 12px;
  border-radius: 8px;
  flex: 1 1 auto;
  font-size: 17px;
  outline: none;
  appearance: none;
  min-width: 150px;

  &.ng-invalid:not(.ng-untouched) {
    border-color: var(--ion-color-danger);
  }

  &:focus {
    border: 1px solid var(--ion-color-primary);
  }
}

.select-placeholder {
  color: var(--contrast-color-step-2);
  position: absolute;
  top: 16px;
  left: 16px;
  pointer-events: none;

}

.select-chevron {
  position: absolute;
  top: 16px;
  right: 16px;
  pointer-events: none;

  ion-icon {
    font-size: 20px;
  }
}

.combo-box {
  border: 1px solid var(--contrast-color-step-3);
  border-radius: 8px;
  display: flex;
  align-items: center;

  select {
    border: none;
    border-radius: 0;
    min-width: 150px;
  }

  .combo-box-select-wrapper {
    position: relative;
    display: flex;
  }

  .combo-box-divider {
    height: 35px;
    border-right: 1px solid var(--contrast-color-step-3);
  }

  input {
    border: none;
    border-radius: 0;
    padding-left: 16px;
  }
}

.helper-text {
  color: var(--contrast-color-step-2);
  font-size: 13px;
  padding: 4px 0;
}

.ve-message {
  display: flex;
  color: var(--ion-color-danger);
  // color: #fff;
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;

  ion-icon {
    margin-right: 8px;
    font-size: 20px;
  }
}

ion-checkbox {
  margin-left: 16px;
  border-radius: 4px;
  padding: 8px;

  &:hover {
    background: var(--contrast-color-step-5);
  }

  .checkbox-label {
    width: 100%;
    white-space: wrap;
  }

  .helper-text {
    margin-top: 4px;
  }
}
