<ion-tabs>
  <ion-tab-bar slot="bottom" class="mobile-only-flex">
    <ion-tab-button tab="cases" href="/tabs/cases">
      <ion-icon aria-hidden="true" name="folder"></ion-icon>
      <ion-label>Interface Cases</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests-lis" href="/tabs/requests-lis">
      <ion-icon aria-hidden="true" name="document-text"></ion-icon>
      <ion-label>LIS Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests-cis" href="/tabs/requests-cis">
      <ion-icon aria-hidden="true" name="document-text"></ion-icon>
      <ion-label>CIS Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manage" href="/tabs/manage">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label>Manage</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
