<ion-tabs>
  <ion-tab-bar slot="bottom" class="mobile-only-flex">
    <ion-tab-button tab="cases" href="/tabs/cases">
      <ion-icon aria-hidden="true" name="folder"></ion-icon>
      <ion-label>Interface Cases</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests" href="/tabs/requests">
      <ion-icon aria-hidden="true" name="document-text"></ion-icon>
      <ion-label>LIS Order Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="auditing" href="/tabs/auditing">
      <ion-icon aria-hidden="true" name="receipt"></ion-icon>
      <ion-label>Auditing</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manage" href="/tabs/manage">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label>Manage</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
