h2 {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 32px;
}

bh-group-box {
  h3 {
    margin-top: 0;
    margin-bottom: 24px;
  }
}

ion-button {
  height: 40px;
  text-transform: none;
  letter-spacing: normal;
  font-size: 17px;
}

ion-content {
  &.safe-area-margin-top {
    --padding-top: var(--ion-safe-area-top);
  }

  &.safe-area-margin-bottom {
    --padding-bottom: var(--ion-safe-area-bottom);
  }

  &.transparent {
    --background: transparent;
  }
}

.safe-area-margin-top {
  --padding-top: var(--ion-safe-area-top);
  padding-top: var(--ion-safe-area-top);
}

.safe-area-margin-bottom {
  --padding-bottom: var(--ion-safe-area-bottom);
  padding-bottom: var(--ion-safe-area-bottom);
}
