<h2>Sign in</h2>
<form [formGroup]="form1" (keydown.enter)="signIn()">
  <bh-message-banner
    type="danger"
    ionIcon="alert-circle-outline"
    heading="Error"
    [message]="errorMessage"
    *ngIf="errorMessage"
  >
  </bh-message-banner>
  <bh-input
    [formGroup]="form1"
    formControlName="userId"
    type="text"
    label="User ID"
    autocomplete="username"
    [submitAttempted]="submitAttempted"
    [validationMessages]="validationMessages"
  ></bh-input>
  <bh-input
    [formGroup]="form1"
    formControlName="password"
    type="password"
    label="Password"
    autocomplete="password"
    [submitAttempted]="submitAttempted"
    [validationMessages]="validationMessages"
  ></bh-input>
  <ion-button
    expand="block"
    (click)="signIn()"
    [ngClass]="{ 'opacity-50': isSigningIn }"
    analyticsClick
    eventName="login: sign-in"
  >
    <ng-container *ngIf="!isSigningIn">Sign in</ng-container>
    <ion-spinner name="dots" *ngIf="isSigningIn"></ion-spinner>
  </ion-button>
  <ion-button
  (click)="getHelp('/help')"
  expand="block"
    fill="clear"
    analyticsClick
    eventName="login: help-forgot-pwd"
  >
    Forgot username or password?
  </ion-button>
  <ion-button
    (click)="getHelp('/help-forgot-pwd')"
    expand="block"
    fill="clear"
    analyticsClick
    eventName="login: help"
  >
    Get help using {{ env?.appDescription }}
  </ion-button>
</form>
