:host {
  display: block;
}

.footer {
  padding: 32px 16px 64px 16px;
  text-align: center;
  border-top: 1px solid var(--contrast-color-step-4);
  color: var(--contrast-color-step-3);
  font-size: 14px;

  &.light {
    border-top-color: #fff;
    color: #fff;

    a {
      color: #fff;
    }
  }

  a {
    color: var(--contrast-color-step-1);
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .app-version,
  .app-copyright {
      margin-bottom: 16px;
  }

  .app-copyright {
      margin-top: 16px;
  }
}
