<ion-content [fullscreen]="true">
  <bh-background-blue [alignCenter]="true">
    <div class="login-wrapper">
      <!-- Heading -->
      <section class="heading">
        <div class="logo">
          <bh-logo></bh-logo>
        </div>
        <div class="right-side-tools">
          <bh-toolbar>
            <!-- <ion-button fill="clear" aria-label="Change Language">
              <ion-icon
                name="earth-outline"
                slot="start"
                aria-hidden="true"
              ></ion-icon>
              English
            </ion-button> -->
          </bh-toolbar>
        </div>
      </section>

      <!-- Body -->
      <section class="body">
        <div class="login-card">
          <div class="lc-left">
            <bh-login-form></bh-login-form>
            <div class="margin-bottom-16"></div>
          </div>
          <div class="lc-right">
            <h2>Welcome to LabMouse</h2>
            <p>Investigate and resolve LabCorp interface errors and LIS associated order builds.</p>
          </div>
        </div>
      </section>
    </div>
  </bh-background-blue>
</ion-content>
