<ion-content [fullscreen]="true" *ngIf="langReady">
  <bh-background-blue [alignCenter]="true">
    <div class="login-wrapper">
      <!-- Heading -->
      <section class="heading">
        <div class="logo">
          <bh-logo></bh-logo>
        </div>
        <div class="right-side-tools">
          <bh-toolbar>
            <ion-button fill="clear" (click)="changeLanguage($event)" *ngIf="env?.enableMultiLanguageSupport">
              <ion-icon
                name="earth-outline"
                slot="start"
                aria-hidden="true"
              ></ion-icon>
              {{ preferredLanguage?.native }}
              <ion-icon
                name="chevron-down-outline"
                slot="end"
                aria-hidden="true"
              ></ion-icon>
            </ion-button>
          </bh-toolbar>
        </div>
      </section>

      <!-- Body -->
      <section class="body">
        <div class="login-card">
          <div class="lc-left">
            <bh-login-form></bh-login-form>
            <div class="margin-bottom-16"></div>
          </div>
          <div class="lc-right">
            <h2>Welcome to MyBaystate</h2>
            <p>
              Investigate and resolve LabCorp interface errors and LIS
              associated order builds.
            </p>
          </div>
        </div>
      </section>
    </div>
  </bh-background-blue>
</ion-content>
