:host {
  text-align: center;
}

.user-icon {
  border-radius: 100px;
  background: var(--ion-color-primary);
  font-size: 14px;
  color: #fff;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  ion-icon {
    font-size: 18px;
  }

  &.small {
    // Default is small
  }

  &.medium {
    height: 64px;
    width: 64px;
    font-size: 28px;
  }

  &.large {
    height: 92px;
    width: 92px;
    font-size: 42px;
  }

  &.self {
    background: var(--user-color-self);
    color: var(--user-color-self-contrast);
  }

  &.color-0 {
    background: var(--user-color-0);
    color: var(--user-color-0-contrast);
  }

  &.color-1 {
    background: var(--user-color-1);
    color: var(--user-color-1-contrast);
  }

  &.color-2 {
    background: var(--user-color-2);
    color: var(--user-color-2-contrast);
  }

  &.color-3 {
    background: var(--user-color-3);
    color: var(--user-color-3-contrast);
  }

  &.color-4 {
    background: var(--user-color-4);
    color: var(--user-color-4-contrast);
  }

  &.color-5 {
    background: var(--user-color-5);
    color: var(--user-color-5-contrast);
  }

  &.color-6 {
    background: var(--user-color-6);
    color: var(--user-color-6-contrast);
  }

  &.color-7 {
    background: var(--user-color-7);
    color: var(--user-color-7-contrast);
  }

  &.color-8 {
    background: var(--user-color-8);
    color: var(--user-color-8-contrast);
  }

  &.color-9 {
    background: var(--user-color-9);
  }

}
