<a
  [routerLink]="routerLink"
  class="user-badge"
  bhAnalyticsClick
  [eventName]="eventName"
  [eventDetail]="eventDetail"
  [attr.aria-label]="label"
  [title]="label"
  *ngIf="type === 'user'"
>
  {{ fnInitial + lnInitial }}
  <ng-container *ngIf="type === 'user' && !fnInitial && !lnInitial"
    ><ion-icon name="person" aria-hidden="true"></ion-icon
  ></ng-container>
</a>

<a
  [routerLink]="routerLink"
  bhAnalyticsClick
  [eventName]="eventName"
  [eventDetail]="eventDetail"
  [attr.aria-label]="label"
  [title]="label"
  *ngIf="type === 'icon'"
>
  <ion-icon [name]="ionIcon" aria-hidden="true"></ion-icon>
</a>
