.metric-area {
  display: flex;
  padding: 48px 0 24px 16px;
  margin-bottom: 16px;

  bh-card-outline {
    flex: 1 1 33%;
  }
}

.grid-area {
  padding: 0 16px 48px 16px;

  form {
    display: flex;
    margin-bottom: 24px;

    bh-input {
      margin-right: 8px;
    }
  }
}

ion-menu {
  --width: 50%;
}

bh-property-row {
  bh-property-cell {
    flex: 1 1 auto;
  }
}

@media (max-width: 767px) {
  .metric-area {
    overflow-x: scroll;

    bh-card-outline {
      flex: none;
      min-width: 80vw;
      max-width: 80vw;
    }
  }

  ion-menu {
    --width: 90%;
  }
}

@media (max-width: 430px) {
  .grid-area {

    form {
      display: block;
    }
  }
}
