<ion-content [fullscreen]="true">
  <bh-header></bh-header>
  <bh-body>
    <div class="metric-area">
      <ng-container *ngFor="let m of metrics">
        <bh-card-outline
          [heading]="m.heading"
          [body]="m.body"
          [metricValue]="m.metricValue"
          (clickEvent)="setView()"
        ></bh-card-outline>
      </ng-container>
    </div>
    <div class="grid-area">
      <form [formGroup]="form1">
        <bh-input
          type="select"
          [formGroup]="form1"
          formControlName="status"
          label="Status"
          [selectOptions]="data"
          selectLabelProperty="id"
          selectLabelProperty="name"
        ></bh-input>

        <bh-input
          type="combo-box"
          [formGroup]="form1"
          formControlName="filterText"
          cbSelectControlName="filterSelect"
          placeholder="Find that pokemon"
          label="Find"
          [selectOptions]="data"
          selectLabelProperty="id"
          selectLabelProperty="name"
        ></bh-input>
      </form>
      <bh-grid
        [columnDefinitions]="columnDefs"
        [data]="data"
        (clickEvent)="selectCase($event)"
        ionIcon="tennisball-outline"
        statusField="type"
        isNewStatusArg="Grass"
        sortField="name"
        sortDirection="up"
        selectionMode="multi"
      ></bh-grid>
    </div>
  </bh-body>
  <bh-footer></bh-footer>
</ion-content>
