<ion-content [fullscreen]="true">
  <bh-header></bh-header>
  <bh-body>
    <div class="metric-area">
      <ng-container *ngFor="let m of metrics">
        <bh-card-outline
          [heading]="m.heading"
          [body]="m.body"
          [metricValue]="m.metricValue"
          (clickEvent)="setView()"
        ></bh-card-outline>
      </ng-container>
    </div>
    <div class="grid-area">
      <bh-grid
        [columnDefinitions]="columnDefs"
        [data]="data"
        (clickEvent)="selectCase($event)"
        ionIcon="tennisball-outline"
        statusField="type"
        isNewStatusArg="Grass"
        sortField="name"
        sortDirection="up"
        selectionMode="multi"
      ></bh-grid>
    </div>
  </bh-body>
  <bh-footer></bh-footer>
</ion-content>
