<ion-content [fullscreen]="true" id="main-content">
  <bh-header></bh-header>
  <bh-body>
    <div class="metric-area">
      <ng-container *ngFor="let m of metrics">
        <bh-card-outline
          [heading]="m.heading"
          [body]="m.body"
          [metricValue]="m.metricValue"
          (clickEvent)="setView()"
        ></bh-card-outline>
      </ng-container>
    </div>
    <div class="grid-area">
      <form [formGroup]="form1">
        <bh-input
          type="select"
          [formGroup]="form1"
          formControlName="status"
          label="Status"
          [selectOptions]="data"
          selectLabelProperty="id"
          selectLabelProperty="name"
        ></bh-input>

        <bh-input
          type="combo-box"
          [formGroup]="form1"
          formControlName="filterText"
          cbSelectControlName="filterSelect"
          placeholder="Find that pokemon"
          label="Find"
          [selectOptions]="data"
          selectLabelProperty="id"
          selectLabelProperty="name"
        ></bh-input>
      </form>
      <bh-grid
        [columnDefinitions]="columnDefs"
        [data]="data"
        (clickEvent)="selectCase($event)"
        ionIcon="tennisball-outline"
        statusField="type"
        isNewStatusArg="Grass"
        sortField="name"
        sortDirection="up"
      ></bh-grid>
    </div>
    <div class="padding-16">
      <bh-search-bar
        (searchEvent)="logToConsole('Searching: ' + $event)"
        (clickEvent)="logToConsole('Search Click: ' + $event)"
        (clearEvent)="logToConsole('Cleared: ' + $event)"
      ></bh-search-bar>
      <bh-empty-message
        ionIcon="search-outline"
        message="No search results found."
        (clickEvent)="logToConsole('Action Click: ' + $event)"
      ></bh-empty-message>
    </div>
  </bh-body>
  <bh-footer></bh-footer>
</ion-content>

<!-- Editor panel -->
<ion-menu
  menuId="editor"
  side="end"
  contentId="main-content"
  [swipeGesture]="false"
>
  <ion-content>
    <bh-editor-case></bh-editor-case>
  </ion-content>
</ion-menu>
