:host {
  padding: 8px;
  display: inline-flex;
  align-items: center;
}

.bh-logo {
  margin-right: 16px;

  img {
    height: 26px;
    display: inline-block;
  }
}

.app-name {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-left: 16px;
  border-left: 1px solid rgba(255, 255, 255, .5);
  height: 100%;
  color: #fff;
}
